<!Doctype html>
<html>

<head>
    <title>FreeDraw: The Collaborative Grafitti Initiative: Administrator</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body ng-app='freeDrawAdm' ng-controller='adminController'>
    <div class='panel panel-info' ng-show='serverRunning'>
        <div class='panel-heading panel-info' style='text-align: center;'>
            <h3>Emergency Controls</h3></div>
        <div class='panel-body'>
            <button id='stahpButton' ng-click='stopServ();'>STOP</button>
        </div>
    </div>
    <div class='jumbotron' ng-show='serverRunning==false'>
        The server has been stopped!
    </div>
    <script src='/socket.io/lib/socket.js'></script>
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/angular/angular.js'></script>
    <script src='/bootbox.js/bootbox.js'></script>
    <script src='/js/controllers/adminController.js'></script>
    <script src='/js/factories/socket.js'></script>
</body>

</html>